    *{
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .head{
        width: 100%;
        height: 7%;
        /* border: 1px solid black; */
        padding-top: 5px;
    }

    .header{
        background-color: #777777;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .reqbutton{
        align-self: self-end;
        background-color: #fd9b27;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration:none;
        font-size: 14px;
        font-weight: bold;
        font-family: Montserrat, Arial;
        width: 10rem;
        height: 2.5rem;
        border-radius: 5px;
    }

    .information{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .information a{
        color: white;
        text-decoration: none;
        font-family: Open Sans,  Arial;
        line-height: 20px;
    }
    #logo{
        width: 100px;
        margin-left: 20px;
    }
    
    .responav a.islogo {
    float: right;
    display: block;
  }
    .responav a{
        display: block;
    }

    .icon {
        position: relative;
    }

    .islogo {
      position: absolute;
      right: 5%;
      width: 20px;
      top: 0;
      /* background-color: black; */
    } 

    .responav{
        background-color: #777777;
        display: flex;
        flex-direction: column;
    }
    .responav a{
        float: none;
        display: block;
        text-align: left;
        margin-top: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Montserrat, Arial;
        margin-left: 40px; 
        transition: 0.5s ease;
    }

    .nav{
        display: none;
    }

    .homebgimg{
        width: 100%;
        height: 400px;
        position: relative;
    }

    .homeimg{
        position: relative;
    }

    .headcontent{
        position: absolute;
        color: #fd9b27;
        top: 10%;
        right: 10%;
        font-size: 7vw;
        font-family: Montserrat, arial;
        font-weight: bold;      
    }

    .headcon{
        position: absolute;
        color: #ffffff;
        top: 70%;
        left: 5%;
        font-size: 15px;
        font-family: Montserrat, arial;
        /* font-weight: bold;       */
    }

    .content{
        margin-top: 50px;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
        line-height: 1.5;
        font-family: Open Sans,Arial;
    }

    .content h3{
        font-family: Open Sans,Arial;
        color:#002c6a;
        font-size: 22px;
        font-weight: bold;
        line-height: inherit;
        margin-bottom: 15px;
    }

    .content h2{
        font-family: Open Sans,Arial;
        color: #ff8a00;
        font-size: 33px;
        line-height: inherit;
        margin-bottom: 15px;
    }

    .content p{
        color: #4f5869;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .heading p{
        font-size: 2rem;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .ex{
        display: flex;
        flex-direction: column;
    }
    .ex .box{
        flex: 33%;
        height: 80vh;
        text-align: center;
    }

    .box img{
        width: 85%;
        height: auto;
        border-radius: 8px;
    }

    .box p{
        font-family: Montserrat,Arial;
        color: #4f5869;
        font-size: 14px;
        padding: 10px;
        line-height: 26px;
        font-weight: bold;
    }

    .tech{
        background-color: rgb(248, 252, 255);
        padding-left: 10%;
        padding-right: 10%;
    }

    .technology{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .technology p{
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 2;
        font-family: Montserrat,Arial;
    }
    .capsule{
       background-color: #ff8a00;
       height: 7px; 
       width: 50px;
       border-radius: 20px;
       align-self:center;
       margin-bottom: 20px;
    }


    .techlogo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .techlogo .telogo{
        width: 30%;
        height: 25%;
        text-align: center;
    }

    .telogo img{
        width: 40%;
        height: 50%;
        border-radius: 8px;
    }
    .dihead{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dihead p{
        margin-top: 20px;
        font-family: Montserrat,Arial;
        font-size: 1.2rem;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .digitalcontent{
        display: flex;
        flex-direction: column;
    }

    .digitalcontent .digimg{
        /* border: 1px solid black; */
        flex: 33%;
        height: 80vh;
        text-align: center;
    }

    .digimg img{
        width: 85%;
        height: auto;
        border-radius: 8px;
    }

    .digilist{
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
    }

    .digilist p{
        font-family: Open Sans,Arial;
        color:#777777;
        padding: 8px 0px;
        font-size: 14px;
        line-height: 26px;
    }

    .digilist img{
        margin-right: 13px;
        width: 30px;
        height: 30px;
    }

    .digilist p{
        display: inline-block;
    }

    .over{
        padding-left: 10%;
        padding-right: 10%;
    }

    .overhead{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .over p{
        font-family: Montserrat,Arial;
        font-size: 20px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .overcontent p{
        font-family: Open Sans,Arial;
        color: #4f5869;
        text-align: left;
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
    }

    .overimg{
        display: flex;
        flex-direction: column;
    }

    .overimg .overimg1{
        margin-top: 30px;
        flex: 33%;
        height: 50vh;
        text-align: center;
    }

    .overimg1 img{
        width: 85%;
        height: auto;
        border-radius: 8px;
    }

    .overimg1 p{
        font-weight: bold;
        font-family: Montserrat,Arial;
        color: #4f5869;
        text-align: center;
        font-size: 18px;
        padding: 23px 0px 0px;
    }

    .testimonials {
        position: relative;
        background-color: rgb(248, 252, 255);
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .testhead{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testhead p{
        margin-top: 30px;
        font-family: Montserrat,Arial;
        font-size: 20px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .testcontent{
        box-shadow: 5px 10px 8px #888888;
        background-color: white;
        height: 250px;
        padding:20px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 60px;
    }

    .testcontent p{
        font-size: 16px;
        font-family: Open Sans,Arial;
        color: #222222;
    }

    .studies{
        display: flex;
        flex-direction: column;
    }

    .casestudies{
        padding-left: 10%;
        padding-right: 10%;
    }

    .casehead{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .casehead p{
        font-family: Montserrat,Arial;
        font-size: 20px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .studies .studiesimg{
        width: 100%;
        height: 90vh;
        text-align: center;
    }

    .studiesimg p{
        font-weight: bold;
        text-align: left;
        font-size: 18px;
        font-family: Montserrat,Arial;
        color: #4f5869;
        margin: 0px 0px 23px;
        padding: 28px 0px 0px;
    }

    .studiesimg img{
        width: 85%;
        height: auto;
    }

    .studiesimg a{
        background-color: #4f5869;
        color: white;
        font-family: Montserrat,Arial;;
        text-decoration: none;
    }

    .redbutton{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4f5869;
        width: 130px;
        height: 30px;
    } 

    .blogcont{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .latestblog{
        margin-top: 20px;
        background-color: #f9f9f9;
        padding-left: 10%;
        padding-right: 10%;
    }

    .bloghead{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bloghead p{
        margin-top: 30px;
        font-family: Montserrat,Arial;
        font-size: 20px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .blogcont .blogimg{
        flex: 33%;
        height: 55vh;
        text-align: center;
    }

    .blogimg img{
        width: 85%;
        height: auto;
    }

    .blogimg p{
        font-size: 16px;
        font-family: Montserrat,Arial;
        color: #4f5869;
        font-weight: bold;
        text-align: left;
        padding: 20px;
        margin-bottom: 30px;
    }

    .form{
        background-color: aliceblue;
        padding-left: 10%;
        padding-right: 10%;
    }

    .form P{
        margin-top: 50px;
        font-size: 16px;
        font-family: Montserrat,Arial;
        color: #4f5869;
        font-weight: bold;
        text-align: center;
    }

    .details{
        margin-top: 20px;
        text-align: center;
    }

    .inputname{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .inputsub{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .details input{
        margin-top: 30px;
        border: none;
        height: 40px;
        padding-left: 10px;
        font-size: 15px;
        row-gap: 10px;
        outline: none;
    }

    .details textarea{
        border: none;
        height: 110px;
        padding-left: 10px;
        font-size: 15px;
        margin-top: 30px;
        outline: none;
    }

    .subbutton{
        margin-top: 30px;
        display: flex;
        align-self: center;
        justify-content: center;
        background-color:#002c6a;
        width: 130px;
        height: 40px;
    }

    .submit{
        color: white;
        padding: 10px;
        font-family: Montserrat,Arial;
        text-decoration: none;
        font-weight: bold;
    }

    .webfoot{
        background-color: #4f5869;
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .foot{
        flex: 25%;
        margin-top: 40px;
        color: #FFFFFF;
        font-family: Montserrat,Arial;
        margin-bottom: 20px;
    }

    .foot h4{
        font-family: Montserrat,Arial;
        padding: 15px 0px 15px 0px ;
        color: #e8e8e8;
    }

    .foot p{
        cursor: pointer;
        font-weight: bold;
        margin-top: 20px;
        line-height: 26px;
        transition: 0.5s ease;
    }

    .foot ul{
        cursor: pointer;
        font-weight: normal;
        margin-top: 20px;
        line-height: 30px;
        padding: 0px 0px 0px 17px;
    }

    .foot ul li{
        transition: 0.5s ease;
    }

    .foot ul li:hover{
        color: #ff8a00;
    }

    .foot p:hover{
        color: #ff8a00;
    }

    .ismedia{
        display: flex;
        flex-direction: column-reverse;
    }

    .isMediaIcon i{
        margin-left: 20px;
    }

    .isMediaIcon{
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
    }

    .left {
        display: none;
    }

    .right{
        display: none;
    }

    .tright{
        display: none;
    }

    .tleft{
        display: none;
    }

@media only screen and (min-width:1020px){
    .head{
        height: 7%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-around;
    }

    .header{
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        width: 350px;
    }

    .reqbutton{
        background-color: #fd9b27;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration:none;
        font-size: 14px;
        font-weight: bold;
        font-family: Montserrat, Arial;
        width: 10rem;
        height: 2.5rem;
        border-radius: 0
    }

    .information a{
        color: #777777;
        font-weight: bold;
        text-decoration: none;
        line-height: 20px;
    }

    .nav{
        background-color: #777777;
        height: 45px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;  
    }

    .nav a{
        margin-top: 0;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Montserrat, Arial;
        margin-left: 40px; 
        transition: 0.5s ease;
    }

    .nav a:hover{
        color:#fd9b27
    }

    .responav{
        display: none;
    }

    .islogo{
        display: none;
    }

    .responsive{
        display: none;
    }

    a .active{
        color:#fd9b27 
    }

    .homebgimg{
        width: 100%;
        height: 500px;
        position: relative;
    }

    .homeimg{
        position: relative;
    }
    .left{
        position: absolute;
        top: 45%;
        padding: 12px;
        border: 3px solid #bcbcbc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mediaicon{
        justify-content: space-around;
    }

    .mediaicon i{
        margin-left: 30px;
    }

    .right{
        position: absolute;
        top: 45%;
        right: 0;
        padding: 12px;
        border: 3px solid #bcbcbc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headcontent{
        position: absolute;
        color: #fd9b27;
        top: 5%;
        right: 30%;
        font-size: 3vw;
        font-family: Montserrat, arial;
        font-weight: bold;      
    }

    .headcon{
        position: absolute;
        color: #ffffff;
        top: 90%;
        left: 5%;
        font-size: 20px;
        font-family: Montserrat, arial;
        /* font-weight: bold;       */
    }

    .whyisu{
        padding-left: 10%;
        padding-right: 10%;
    }

    .ex{
        flex-direction: row;
    }

    .tech{
        padding-left: 10%;
        padding-right: 10%;
    }

    .techlo{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .digital{
        padding-left: 10%;
        padding-right: 10%;
    }

    .digitalcontent{
        flex-direction: row;
    }

    .overimg{
        display: flex;
        flex-direction: row;
    }

    .tleft{
        position: absolute;
        top: 45%;
        left: 1%;
        padding: 12px;
        border: 3px solid #2b2b2b;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }

    .tright{
        position: absolute;
        right: 1%;
        top: 45%;
        padding: 12px;
        border: 3px solid #2b2b2b;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border-radius: 100px;
    }

    .testcontent{
        box-shadow: 5px 10px 8px #888888;
        background-color: white;
        height: 130px;
        padding: 50px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 60px;
    }

    .studies{
        flex-direction: row;
    }

    .studies{
        margin-top: 50px;
        display: flex;
        flex-direction:row;
    }

    .casestudies{
        padding-left: 10%;
        padding-right: 10%;
    }

    .casehead p{
        margin-top: 40px;
        font-family: Montserrat,Arial;
        font-size: 25px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .studies .studiesimg{
        width: 33%;
        height: 80vh;
        text-align: center;
    }

    .studiesimg p{
        font-weight: bold;
        text-align: left;
        font-size: 18px;
        font-family: Montserrat,Arial;
        color: #4f5869;
        margin: 0px 0px 23px;
        padding: 28px 15px 0px;
    }

    .studiesimg img{
        width: 85%;
        height: auto;
    }

    .blogcont{
        display: flex;
        flex-direction: row;
    }

    .blogimg p{
        font-size: 16px;
        font-family: Montserrat,Arial;
        color: #4f5869;
        font-weight: bold;
        text-align: left;
        padding: 20px;
    }

    .form{
        background-color: aliceblue;
        padding-left: 10%;
        padding-right: 10%;
    }

    .latestblog{
        padding-left: 10%;
        padding-right: 10%;
    }

    .details{
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }

    .inputname{
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .inputsub{
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .webfoot{
        background-color: #4f5869;
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }

    .foot{
        flex: 25%;
        margin-top: 50px;
         color: #FFFFFF;
        height: 50%;
        font-family: Montserrat,Arial;
        margin-bottom: 50px;
    }

    .ismedia{
        display: flex;
        justify-content: space-between;
        flex-direction:row
    }

    .isMediaIcon{
        padding: 20px 0px 20px 0px;
        justify-content: space-around;
    }

    .isMediaIcon i{
        margin-left: 30px;
    }


}
