    *{
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .head{
        width: 100%;
        height: 7%;
        border: 1px solid black;
        padding-top: 5px;
    }

    .header{
        background-color: #777777;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .reqbutton{
        align-self: self-end;
        background-color: #fd9b27;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration:none;
        font-size: 14px;
        font-weight: bold;
        font-family: Montserrat, Arial;
        width: 10rem;
        height: 2.5rem;
        border-radius: 5px;
    }

    .information{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .information a{
        color: white;
        text-decoration: none;
        font-family: Open Sans,  Arial;
        line-height: 20px;
    }
    #logo{
        width: 100px;
        margin-left: 20px;
    }
    
    .responav a.islogo {
    float: right;
    display: block;
  }
    .responav a{
        display: block;
    }

    .icon {
        position: relative;
    }

    .islogo {
      position: absolute;
      right: 5%;
      width: 20px;
      top: 0;
      background-color: black;
    } 

    .responav{
        background-color: #777777;
        display: flex;
        flex-direction: column;
    }
    .responav a{
        float: none;
        display: block;
        text-align: left;
        margin-top: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Montserrat, Arial;
        margin-left: 40px; 
        transition: 0.5s ease;
    }

    .nav{
        display: none;
    }

    .homebgimg{
        width: 100%;
        height: 400px;
        position: relative;
    }

    .homeimg{
        position: relative;
    }

    .headcontent{
        position: absolute;
        color: #fd9b27;
        top: 10%;
        right: 10%;
        font-size: 7vw;
        font-family: Montserrat, arial;
        font-weight: bold;      
    }

    .content{
        margin-top: 50px;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
        line-height: 1.5;
        font-family: Open Sans,Arial;
    }

    .content h3{
        font-family: Open Sans,Arial;
        color:#002c6a;
        font-size: 22px;
        font-weight: bold;
        line-height: inherit;
        margin-bottom: 15px;
    }

    .content h2{
        font-family: Open Sans,Arial;
        color: #ff8a00;
        font-size: 33px;
        line-height: inherit;
        margin-bottom: 15px;
    }

    .content p{
        color: #4f5869;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .heading p{
        font-size: 2rem;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .ex{
        display: flex;
        flex-direction: column;
    }
    .ex .box{
        flex: 33%;
        height: 80vh;
        text-align: center;
    }

    .box img{
        width: 85%;
        height: auto;
        border-radius: 8px;
    }

    .box p{
        font-family: Montserrat,Arial;
        color: #4f5869;
        font-size: 14px;
        padding: 10px;
        line-height: 26px;
        font-weight: bold;
    }

    .tech{
        background-color: rgb(248, 252, 255);
        padding-left: 10%;
        padding-right: 10%;
    }

    .technology p{
        font-size: 2rem;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
        font-family: Montserrat,Arial;
    }

    .techlogo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .techlogo .telogo{
        width: 30%;
        height: 25%;
        text-align: center;
    }

    .telogo img{
        width: 40%;
        height: 50%;
        border-radius: 8px;
    }

    .dihead p{
        margin-top: 20px;
        font-family: Montserrat,Arial;
        font-size: 1.2rem;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .digitalcontent{
        display: flex;
        flex-direction: column;
    }

    .digitalcontent .digimg{
        /* border: 1px solid black; */
        flex: 33%;
        height: 80vh;
        text-align: center;
    }

    .digimg img{
        width: 85%;
        height: auto;
        border-radius: 8px;
    }

    .digilist{
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .digilist p{
        font-family: Open Sans,Arial;
        color:#777777;
        padding: 8px 0px;
        font-size: 14px;
        line-height: 26px;
    }

    .digilist img{
        margin-right: 13px;
        width: 30px;
        height: 30px;
    }

    .digilist p{
        display: inline-block;
    }

    .over{
        padding-left: 10%;
        padding-right: 10%;
    }

    .over p{
        font-family: Montserrat,Arial;
        font-size: 20px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .overcontent p{
        font-family: Open Sans,Arial;
        color: #4f5869;
        text-align: left;
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
    }

    .overimg{
        display: flex;
        flex-direction: column;
    }

    .overimg .overimg1{
        margin-top: 30px;
        flex: 33%;
        height: 50vh;
        text-align: center;
    }

    .overimg1 img{
        width: 85%;
        height: auto;
        border-radius: 8px;
    }

    .overimg1 p{
        font-weight: bold;
        font-family: Montserrat,Arial;
        color: #4f5869;
        text-align: center;
        font-size: 18px;
        padding: 23px 0px 0px;
    }

    .testimonials {
        background-color: rgb(248, 252, 255);
        padding-left: 15%;
        padding-right: 15%;
    }
    .testhead p{
        margin-top: 30px;
        font-family: Montserrat,Arial;
        font-size: 20px;
        color: #4f5869;
        text-align: center;
        font-weight: bold;
        line-height: 3;
    }

    .testcontent{
        box-shadow: 5px 10px 8px #888888;
        background-color: white;
        height: 150px;
        padding: 80px;
        margin-top: 20px;
        text-align: center;
    }

    .testcontent p{
        font-size: 16px;
        font-family: Open Sans,Arial;
        color: #222222;
    }



@media only screen and (min-width:1020px){
    .head{
        height: 7%;
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }

    .header{
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        width: 350px;
    }

    .reqbutton{
        background-color: #fd9b27;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration:none;
        font-size: 14px;
        font-weight: bold;
        font-family: Montserrat, Arial;
        width: 10rem;
        height: 2.5rem;
        border-radius: 0
    }

    .information a{
        color: #777777;
        font-weight: bold;
        text-decoration: none;
        line-height: 20px;
    }

    .nav{
        background-color: #777777;
        height: 45px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;  
    }

    .nav a{
        margin-top: 0;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Montserrat, Arial;
        margin-left: 40px; 
        transition: 0.5s ease;
    }

    .nav a:hover{
        color:#fd9b27
    }

    .responav{
        display: none;
    }

    .islogo{
        display: none;
    }

    .responsive{
        display: none;
    }

    a .active{
        color:#fd9b27 
    }

    .homebgimg{
        width: 100%;
        height: 500px;
        position: relative;
    }

    .homeimg{
        position: relative;
    }
    .left{
        position: absolute;
        top: 50%;
    }

    .right{
        position: absolute;
        top: 50%;
        right: 0;
    }

    .headcontent{
        position: absolute;
        color: #fd9b27;
        top: 5%;
        right: 30%;
        font-size: 3vw;
        font-family: Montserrat, arial;
        font-weight: bold;      
    }

    .whyisu{
        padding-left: 10%;
        padding-right: 10%;
    }

    .ex{
        flex-direction: row;
    }

    .tech{
        padding-left: 10%;
        padding-right: 10%;
    }

    .techlo{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .digital{
        /* border: 1px solid black; */
        padding-left: 10%;
        padding-right: 10%;
    }

    .digitalcontent{
        flex-direction: row;
    }

    .overimg{
        display: flex;
        flex-direction: row;
    }

}
